-- Create the LOGINPF table
-- This table stores user credentials and roles.
CREATE OR REPLACE TABLE LOGINPF (
    userld VARCHAR(5) NOT NULL,
    userPass VARCHAR(20),
    userRole VARCHAR(10),
    lastLogin DATE,
    userQstn VARCHAR(30),
    userAnswr VARCHAR(30),
    status VARCHAR(1),
    Remark VARCHAR(15),
    PRIMARY KEY (userld)
);

-- Create the USERMASTER table
-- This table stores detailed information about customers.
CREATE OR REPLACE TABLE USERMASTER (
    usrld VARCHAR(5) NOT NULL,
    usrName VARCHAR(20),
    usrDOB DATE,
    usrGender VARCHAR(1),
    usrMobNum VARCHAR(10),
    usrEmail VARCHAR(50),
    usrCity VARCHAR(20),
    usrPinCode NUMERIC(6, 0),
    usrState VARCHAR(20),
    usrAddress VARCHAR(100),
    usrAadhar NUMERIC(12, 0),
    usrStatus VARCHAR(1),
    usrRemark VARCHAR(15),
    PRIMARY KEY (usrld)
);

-- Create the PSNGRPF table with a foreign key constraint
-- This table stores passenger details and links to a user.
CREATE OR REPLACE TABLE PSNGRPF (
    psgld VARCHAR(5) NOT NULL,
    usrld VARCHAR(5) NOT NULL,
    psgName VARCHAR(20),
    psgGender VARCHAR(1),
    psgAge NUMERIC(2),
    psgRltn VARCHAR(10),
    PRIMARY KEY (psgld),
    FOREIGN KEY (usrld) REFERENCES USERMASTER(usrld)
);